#Web Framework
uvicorn
fastapi
starlette

#File Handling
python-multipart
pydub

#Database, ORM
motor
pymongo[srv]

#Data Validation
pydantic
pydantic[email]

#Authentication
python-jose
passlib
bcrypt
authlib
itsdangerous

#HTTP Requests
httpx
python-dotenv

#Utilities
tqdm